.Rproj.user
.Rhistory
.RData
Meta
cran_comments.md
tests/testthat/Rplots.pdf
revdep
revdep/*
vignettes/tutorial_1.R
vignettes/tutorial_1.html
vignettes/tutorial_2.R
vignettes/tutorial_2.html
/doc/
/Meta/
